{% for host in groups['galera'] %}
if $hostname == '{{ host | regex_replace('_', '-') }}' then {
   if $programname == 'galera_server_error' then /var/log/infrastructure/{{ host }}-galera.log
   if $programname == 'mysql' then /var/log/infrastructure/{{ host }}-mysql.log
}
{% endfor %}

{% for host in groups['rabbitmq'] %}
# Rabbit will send the whole hostname i.e. rabbit@aio1-rabbit-mq-container-a1b2c3d4, have to truncate
if $hostname == '{{ host | regex_replace('_', '-')  }}' then {
   if $programname == 'rabbit@{{ host | regex_replace('_', '-') | truncate (25, True, '') }}' then /var/log/infrastructure/rabbit@{{ host | regex_replace('_', '-') }}.log
}
{% endfor %}

{% for host in groups['memcached'] %}
if $hostname == '{{ host | regex_replace('_', '-') }}' then {
   if $programname == 'memcached' then /var/log/infrastructure/memcached.log
}
{% endfor %}
